.center-section {
    min-height: 100vh;
    padding: 40px 16px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    max-width: 860px;
    margin: 0 auto;
    background: transparent;
    min-width: 560px;
}

.card {
    border-radius: var(--radius);
    box-shadow: var(--shadow-md);
    padding: 28px;
    background: var(--card);
    text-align: center;
}

.card h1.title {
    font-weight: 800;
    letter-spacing: .2px;
    font-size: 55px;
    text-align: center;
    margin: 24px 0 6px;
}

.input-group {
    margin: 16px 0 18px;
}

.input-group label {
    margin: 0 0 10px;
    text-align: left;
    display: block;
}

.input-group input[type="email"], .input-group input[type="password"], .login-form .input-group input[type="text"] {
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 0px;
    color: var(--text);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--input-border);
    width: 100%;
}

p.sign-up {
    font-size: 1.25em;
}

.sign-up span {
    font-weight: 700;
    cursor: pointer;
}

.sign-up span:hover {
    color: var(--brand-hover)
}

.back-login {
    text-align: left;
}

form.signin-form p.error-text {
    text-align: left;
}